@import "../../../styles/utils.scss";

.section-four {
  position: relative;
  color: $c_dark_blue;
}
.bg-left {
  position: absolute;
  width: 62.5vw;
  top: -5%;
  @include desktop { left: -100%; }
  @include mobile { left: -50% ; }
}
.bg-right {
  position: absolute;
  width: 62.5vw;
  top: 5%;
  @include desktop { right: -100%; }
  @include mobile { right: -50%; }
}
.left-border {
  border-left-style: solid;
  @include desktop { border-left-width: 3px; }
  @include mobile { border-left-width: 0px; }
}
.hidden {opacity: 0; visibility: hidden;}
.seq1-bg {animation: fade-in 2s forwards, blend-in 2s forwards 2s;}
.seq2-h {animation: fade-in 1s forwards 4s}
.seq3-p {animation: fade-in 1s forwards 5s}
.seq4-video {animation: fade-in 1s forwards 6s}
.quote { 
  margin: 0rem 0rem !important; 
  color: $c_purple;
}
.bg {
  bottom: 10%;
  mask-image: linear-gradient(
    rgba(0,0,0,0.1),
    rgba(0,0,0,1),
    rgba(0,0,0,0.1)
  );
  @include desktop { left: -55%;}
  @include mobile { left: -15% }
}
@keyframes blend-in {
  from {opacity: 1;}
  to {opacity: 0.75;}
}
@keyframes fade-in {
  to {opacity: 1; visibility: visible;}
}