@import "../../../styles/utils.scss";

.part-one {
  padding: 0rem 0rem;
  height: 100vh;
  color: $c_white;
  background-image: url(../../../public/img/s1-p1-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}
.underline {
  @include desktop { width: 470px; }
  @include mobile { width: 235px; }
  margin: 0rem auto 0.5rem;
  border-top: 1px solid $c_white;
}
.light-title {
  @include desktop { font-size: 3rem; }
  @include mobile { font-size: 2rem; }
  font-weight: 300;
}