.part-one {
  padding: 0rem 0rem;
  height: 100vh;
  color: rgb(242, 242, 242);
  background-image: url(../../../public/img/s1-p1-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}