@import "../../../styles/utils.scss";

.section-two {
  position: relative;
  color: $c_white;
}
.bg {
  mask-image: linear-gradient(
    rgba(0,0,0,0.0),
    rgba(0,0,0,1) 10%,
    rgba(0,0,0,1) 90%,
    rgba(0,0,0,0.0)
  );
  @include desktop { left: -55%;}
  @include mobile { left: -15% }
}
.hidden {opacity: 0; visibility: hidden;}
.seq1-bg {animation: fade-in 2s forwards, blend-in 2s forwards 2s;}
.seq2-video {animation: fade-in 1s forwards 4s;}
.seq3-p {animation: fade-in 1s forwards 5s;}
.seq4-sbs {animation: fade-in 1s forwards 6s}
@keyframes fade-in {to {opacity: 1; visibility: visible;}}
@keyframes blend-in {to {opacity: 0.1;}}