@import "./utils.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: (
    Helvetica, Arial, "Lucida Grande", sans-serif
  ); 
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar{
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.main {
  nav {
    padding: 25px 50px;
  }
  h1 {
    font-weight: 700;
    @include desktop { font-size: 4rem; }
    @include mobile { font-size: 2rem; }
  }
  h2 {
    font-weight: 300;
    @include desktop { font-size: 2rem; }
    @include mobile { font-size: 1rem; }
  }
  h3 {
    font-weight: 700;
    @include desktop { font-size: 2rem; }
    @include mobile { font-size: 1.33rem; }
  }
  h4 {
    @include desktop { font-size: 1.5rem; }
    @include mobile { font-size: 1rem; }
  }
  h5 {
    @include desktop { font-size: 0.75rem; }
    @include mobile { font-size: 0.5rem; }
  }
  h6 {
    @include desktop { font-size: 1rem; }
    @include mobile { font-size: 0.75rem; }
  }
  p {
    margin: 1rem 1rem;
    @include desktop { font-size: 1rem; }
    @include mobile { font-size: 0.75rem; }
  }
}

/* Common Classes */
.desktop {
  @include desktop { display: block; }
  @include mobile { display: none; }
}
.mobile {
  @include desktop { display: none; }
  @include mobile { display: block; }
}
.section {
  @include desktop { padding: 8rem 0rem; }
  @include mobile { padding: 4rem 0rem; }
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.space-div {
  @include desktop { margin: 1rem 0rem; }
  @include mobile { margin: .5rem 0rem; }
}
.no-margin {
  margin: 0 0;
}
.align-left {
  text-align: left; 
}
.align-right {
  text-align: right; 
}
.bg {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0%;
  width: 100vw;
  opacity: 0.1;
  margin: 0 -50vw;
}
/* Section Classes */
.gradient-bg-1 {
  background-image: linear-gradient(
    $c_dark_blue,
    $c_grey 50%,
  );
}
.gradient-bg-2 {
  background-image: linear-gradient(
    $c_grey,
    $c_light_purple 5%,
    $c_light_purple 25%,
    $c_grey 40%,
    $c_grey 50%,
    $c_dark_blue
  );
}
.gradient-bg-3 {
  background-image: linear-gradient(
    $c_purple,
    $c_light_blue
  );
}
.gradient-bg-4 {
  background-image: linear-gradient(
    $c_light_blue,
    $c_white
  );
}
.gradient-bg-5 {
  background-image: linear-gradient(
    $c_white,
    $c_grey 55%,
    $c_light_blue,
    $c_purple
  );
}
.slick-slide.slick-active.slick-center{
  transition: transform 0.5s ease-out;
  @include desktop {transform: scale(1.5);}
  @include mobile {transform: scale(1)}
}
.slick-slide.slick-active{
  transition: transform 0.5s ease-out;
  transform: scale(1);
}
.slick-slide{
  transition: transform 0.5s ease-out;
  transform: scale(0);
  @include desktop {padding: 5rem 0rem;}
  @include mobile {padding: 0rem 0rem;}
}
.rc-slider-mark-text {
  @include desktop { width: 120px; font-size: 1rem; top: -80px; }
  @include mobile { width: 80px; font-size: 0.75rem; top: -70px ;}
  color: $c_medium_blue;
  display: flex;
  justify-content: center;

  &.rc-slider-mark-text-active {
    color: $c_dark_blue;
  }
}
.video-container {
  position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
  height:0;
  overflow:hidden;
  background-color: $c_black;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0%;
	width:100%;
	height:100%;
}