html,
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$c_000_blue: rgb(125,214,246);
$c_050_blue: rgb(27, 167, 236);
$c_100_blue: rgb(30, 57, 152);
$c_teal: rgb(75, 222, 222);
$c_grey: rgb(215, 216, 214);
$c_purple: rgb(121, 126, 246);
$c_white: rgb(255, 255, 255);

/*
POSITIONING
BOX MODEL
TYPOGRAPHY
VISUAL
*/

.main {
  h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  
  h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 1rem;
    margin: 5rem 1rem;
  }

  .emphasis {
    font-size: 2rem;
    font-weight: 700;
  }

  .point {
    font-size: 2rem;
    font-weight: 500;
  }

  .purple {
    margin: 1rem 0;
    color: $c_purple;
  }
}

.main nav {
  padding: 50px 50px;
}

.part-one-gradient {
  background-image: linear-gradient(
    $c_100_blue,
    $c_grey,
    $c_purple,
    $c_grey,
    $c_100_blue
  );
}

.part-two-gradient {
  background-image: linear-gradient(
    $c_purple,
    $c_000_blue,
    $c_grey,
    $c_000_blue,
    $c_purple
  );
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-one {

  .part-one {
    height: 100vh;
    color: $c_white;
    background-image: url(./../public/img/s1-p1-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .part-two {
    padding: 10rem 0rem;
    color: $c_100_blue;

    .gdp-1 {isolation:isolate;}
    .gdp-circle {
      fill:none;
      stroke-miterlimit:10;
      stroke-width:0.02rem;
      stroke:url(#gdp-circle-gradient);
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: animate-gdp-circle 5s linear forwards;
    }
    .gdp-line {
      fill:none;
      stroke-miterlimit:10;
      stroke-width:0.02rem;
      stroke:url(#gdp-line-gradient);
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: animate-gdp-line 5s linear forwards;
      animation-delay: 5s;
    }
    @keyframes animate-gdp-circle { 
      from {stroke-dashoffset: 100;}
      to {stroke-dashoffset: 200;}
    }
    @keyframes animate-gdp-line { 
      from {stroke-dashoffset: 100;}
      to {stroke-dashoffset: 0;}
    }
    .gdp-h2 {
      font-size: 0.35rem;
      font-weight: 500;
    }
    .gdp-h4 {
      font-size: 0.12rem;
      font-weight: 500;
    }
    .gdp-p {
      font-size: 0.12rem;
    }
    text {
      fill: $c_100_blue;
    }
  }
  
  .part-three {
    padding: 10rem 0rem;
    color: $c_white;
    background-image: url(./../public/img/s1-p3-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .part-four {
    padding: 10rem 0rem;
    color: $c_100_blue;

    #country-productivity {
      position: relative;
      width: 100%;
      height: 30vh;
      background-image: url('./../public/img/s1-p4-1.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
    #usa-productivity {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('./../public/img/s1-p4-2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: -30%;
      top: 0%;
    }
    
    #asean-productivity {
      position: absolute;
      width: 50%;
      height: 50%;
      background-image: url('./../public/img/s1-p4-3.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 17.5%;
      top: 25%;
    }
    
    #germany-productivity {
      position: absolute;
      width: 90%;
      height: 90%;
      background-image: url('./../public/img/s1-p4-4.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 18.5%;
      top: 0%;
    }
    
    #china-productivity {
      position: absolute;
      width: 50%;
      height: 50%;
      background-image: url('./../public/img/s1-p4-5.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 60%;
      top: 25%;
    }
  }

  .part-five {
    padding: 10rem 0rem;
    color: $c_white;
  }

}

.section-two {
  padding: 10rem 0rem;
  color: $c_white;
}

.section-three {
  padding: 10rem 0rem;
  color: $c_100_blue;

  .cls-1{isolation:isolate;}
  .cls-2{opacity:0.3;mix-blend-mode:multiply;}
  .cls-3{fill:none;stroke-miterlimit:10;stroke-width:3px;stroke:url(#linear-gradient);}

  .svg {
    width: 66.6%;
  }

  .challenges-h {
    font-size: 1.5rem;
  }

  .challenges-p {
    font-size: 0.75rem;
  }

  .challenges-b {
    font-size: 0.5rem;
  }

  text {
    fill: $c_100_blue;
  }
}

.section-four {
  padding: 10rem 0rem;
  color: $c_100_blue;

  #lumada {
    width: 25%;
  }

  .cls-1{isolation:isolate;}
  .cls-2{opacity:0.3;mix-blend-mode:multiply;}
  .cls-3,.cls-4,.cls-5{fill:none;stroke-miterlimit:10;stroke-width:3px;}
  .cls-3{stroke:url(#linear-gradient);}
  .cls-4{stroke:url(#linear-gradient-2);}
  .cls-5{stroke:url(#linear-gradient-3);}

  .svg{
    width: 33.3%;
  }

  .challenges-h {
    font-size: 1.5rem;
  }

  .challenges-p {
    font-size: 0.75rem;
  }

  text {
    fill: $c_100_blue;
  }
}

.section-five {
  padding: 10rem 0rem;
  color: $c_white;

  img {
    width: 200px;
  }
}

.left-lattice {
  position: relative;
  // overflow: hidden;

  img {
    min-width: 100%;

    position: absolute;
    top: 10%;
    left: -75%;
    z-index: 0;
    
  }
}

.right-lattice {
  position: relative;
  // overflow: hidden;

  img {
    min-width: 100%;

    position: absolute;
    top: 15%;
    right: -75%;
    z-index: 0;
  }
}

.lg-left {
  text-align: left;
}


/* Animated Number with middle border */
.side-by-side {
  display: flex;
  align-items: center;

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 0.8rem;
  }
}

.right-side {
  height: 10vh;
  border-left-style: solid;
  border-left-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  height: 10vh;
  border-right-style: solid;
  border-right-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asean {
  border-color:  rgb(37,57,152);
}

.video-container {
  position:relative;
	padding-bottom:42.1875%;
	padding-top:30px;
  height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:12.5%;
	width:75%;
	height:100%;
}

#s2-p1-1 {
  height: 10rem;
}