html,
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* COLORS */
$scroll_bar: 15px;
$c_000_blue: rgb(125,214,246);
$c_050_blue: rgb(27, 167, 236);
$c_100_blue: rgb(30, 57, 152);
$c_teal: rgb(75, 222, 222);
$c_grey: rgb(215, 216, 214);
$c_purple: rgb(121, 126, 246);
$c_white: rgb(255, 255, 255);
$c_black: rgb(0, 0, 0);

/*
POSITIONING
BOX MODEL
TYPOGRAPHY
VISUAL
*/

.main {
  nav {
    padding: 50px 50px;
  }

  h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  
  h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 1rem;
    margin: 3rem 1rem;
  }

  .emphasis {
    font-size: 2rem;
    font-weight: 700;
  }

  .point {
    font-size: 2rem;
    font-weight: 500;
  }

  .purple {
    color: $c_purple;
  }

  .black {
    color: $c_black
  }

  .small-margin {
    margin: 1rem 0;
  }
}

/* Common Classes */
.section {
  padding: 10rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.align-left {
  text-align: left;
}

.lg-left-border {
  border-left-style: solid;
  border-left-width: 3px;
}

.bg {
  position: absolute;
  left: -50%;
  bottom: 0%;
  width: 100vw;
  opacity: 0.1;
}

.side-by-side {
  display: flex;
  align-items: center;

  h2 {font-size: 2.5rem;}
  h4 {font-size: 0.75rem;}
}

.right-side {
  height: 10rem;
  border-left-style: solid;
  border-left-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  height: 10rem;
  border-right-style: solid;
  border-right-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asean {
  border-color: $c_100_blue;
}

.line-down {
  height: 10rem;
}

/* Section Classes */
.part-one-gradient {
  background-image: linear-gradient(
    $c_100_blue,
    $c_grey 25%,
    rgba(121, 126, 246, 0.5),
    $c_grey 55%,
    $c_100_blue
  );
}

.part-two-gradient {
  background-image: linear-gradient(
    $c_purple,
    rgba(125,214,246, 0.5),
    $c_grey,
    rgba(125,214,246, 0.5),
    $c_purple
  );
}

.part-one {
  padding: 0rem 0rem;
  height: 100vh;
  color: $c_white;
  background-image: url(./../public/img/s1-p1-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.part-two {
  color: $c_100_blue;

  .s1-p2-bgl {
    position: absolute;
    width: 50vw;
    left: -100%;
  }
  
  .s1-p2-bgr {
    position: absolute;
    width: 50vw;
    right: -100%;
  }
  
  text {fill: $c_100_blue;}
  .cls-1 {isolation:isolate;}
  .gdp-h2 {font-size: 0.35rem;font-weight: 600;}
  .gdp-h4 {font-size: 0.12rem;font-weight: 500;}
  .gdp-p {font-size: 0.12rem;}
  .gdp-circle {
    fill:none;
    stroke-miterlimit:10;
    stroke-width:0.02rem;
    stroke:url(#part-two-gradient);
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animate-gdp-circle 5s linear forwards;
  }
  .gdp-line {
    fill:none;
    stroke-miterlimit:10;
    stroke-width:0.02rem;
    stroke:url(#part-two-gradient-2);
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animate-gdp-line 5s linear forwards;
    animation-delay: 5s;
  }
  @keyframes animate-gdp-circle { 
    from {stroke-dashoffset: 100;}
    to {stroke-dashoffset: 200;}
  }
  @keyframes animate-gdp-line { 
    from {stroke-dashoffset: 100;}
    to {stroke-dashoffset: 0;}
  }
}
  
.part-three {
  color: $c_white;

  .s1-p3-bg {
    position: absolute;
    width: 100vw;
    left: -85%;
    z-index: -1;
  }

  text{fill: $c_white;}
  .cls-1{isolation:isolate;}
  .cls-2{opacity:0.4;mix-blend-mode:multiply;}
  .cls-3{fill:url(#part-three-gradient);}
  .country{font-size: 15px;}
  .percentage{font-size: 40px;}

  .slick-slide.slick-active.slick-center{
    transition: transform 0.5s ease-out;
    transform: scale(1.25);
  }
  .slick-slide{
    transition: transform 0.5s ease-out;
    transform: scale(1);
  }
  // .slick-slide{
  //   transform: scale(0);
  // }
}

.part-four {
  color: $c_100_blue;

  .blue-fill{fill:#1e2f98;}
  .white-fill{fill:#f2f2f2;}
  .west-name{font-size: 15px;}
  .west-number{font-size: 40px;}
  .asia-name{font-size: 10px;}
  .asia-number{font-size: 21px;}
}

.part-five {
  color: $c_white;

  .s1-p5-bg {
    mask-image: linear-gradient(
      rgba(0,0,0,0),
      rgba(0,0,0,1)
    );
  }

  text{fill:#f2f2f2;font-size: 7px;}
  .cls-1,.cls-2,.cls-3,.cls-4{fill:none;stroke-miterlimit:10;stroke-width:2px;}
  .cls-1{stroke:url(#part-five-gradient);}
  .cls-2{stroke:url(#part-five-gradient-2);}
  .cls-3{stroke:url(#part-five-gradient-3);}
  .cls-4{stroke:url(#part-five-gradient-4);}
  .blue-fill{fill:#1e2f98;}
  .white-fill{fill:#f2f2f2;}
}

.section-two {
  color: $c_white;

  .s2-bg {
    mask-image: linear-gradient(
      rgba(0,0,0,0.1),
      rgba(0,0,0,1),
      rgba(0,0,0,0.0)
    );
  }
}

.section-three {
  color: $c_100_blue;

  text {fill: $c_100_blue;}
  .svg {width: 75%;}
  .cls-1{isolation:isolate;}
  .cls-2{opacity:0.3;mix-blend-mode:multiply;}
  .cls-3{fill:none;stroke-miterlimit:10;stroke-width:3px;stroke:url(#section-three-gradient);}
  .challenges-h {font-size: 1.5rem;}
  .challenges-p {font-size: 0.75rem;}
  .challenges-b {font-size: 0.75rem;}
}

.section-four {
  color: $c_100_blue;

  .s4-bgl {
    position: absolute;
    width: 62.5vw;
    left: -100%;
    top: -5%;
  }
  
  .s4-bgr {
    position: absolute;
    width: 62.5vw;
    right: -100%;
    top: 5%;
  }

  .s4-bg {
    bottom: 10%;
    mask-image: linear-gradient(
      rgba(0,0,0,0.1),
      rgba(0,0,0,1),
      rgba(0,0,0,0.1)
    );
  }

  text {fill: $c_100_blue;}
  .svg{width: 100%;}
  .cls-1{isolation:isolate;}
  .cls-2{opacity:0.3;mix-blend-mode:multiply;}
  .cls-3,.cls-4,.cls-5,.cls-6,.cls-7{fill:none;stroke-miterlimit:10;stroke-width:3px;}
  .cls-3{stroke:url(#section-four-gradient);}
  .cls-4{stroke:url(#section-four-gradient-2);}
  .cls-5{stroke:url(#section-four-gradient-3);}
  .cls-6{stroke:url(#section-four-gradient-4);}
  .cls-7{stroke:url(#section-four-gradient-5);}
  .solutions-h {font-size: 1.5rem;}
  .solutions-p {font-size: 0.75rem;}
}

.section-five {
  color: $c_white;

  img {width: 200px;}
}

.video-container {
  position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
  height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0%;
	width:100%;
	height:100%;
}