@import "../../../styles/utils.scss";

.isolate {isolation:isolate;}
.h2 {fill: $c_dark_blue; font-size: 0.35rem; font-weight: 600; text-anchor: middle;}
.h4 {fill: $c_dark_blue; font-size: 0.12rem; font-weight: 500; text-anchor: middle;}
.p {
  fill: $c_dark_blue;
  font-size: 0.12rem;
  @include mobile { text-anchor: middle; }
}

@mixin gradient-shape ($gradient-url) {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 0.02rem;
  stroke: url($gradient-url);
}
.circle {
  @include gradient-shape('#asean-gdp-gradient');
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: draw-circle 2.5s linear forwards;
}
.line {
  @include gradient-shape('#asean-gdp-gradient-2');
  stroke-dasharray: 86.5;
  stroke-dashoffset: 86.5;
  animation: draw-line 2.5s linear forwards 2.5s;
}
.dot {
  opacity: 0; visibility: hidden; 
  animation: fade-dot 1s linear forwards 5s;
}
@keyframes draw-circle {to {stroke-dashoffset: 140;}}
@keyframes draw-line {to {stroke-dashoffset: 0;}}
@keyframes fade-dot {to {opacity: 1; visibility: visible;}}