@import "../../../styles/utils.scss";

@mixin text ($size) {fill: $c_dark_blue; text-anchor: middle; font-size: $size;}

.svg {
  @include desktop {width: 75%;}
  @include mobile {width: 100%;}
}
.isolate {isolation:isolate;}
.shadows {opacity:0.3;mix-blend-mode:multiply;}
.circle {
  fill:none;
  stroke-miterlimit:10;
  stroke-width:3px;
  stroke:url(#challenges-circle-gradient);
  stroke-dasharray: 1335;
  animation: draw-circle 2.5s linear forwards;
}

.h {@include text(1.5rem);}
.p {@include text(.75rem);}
.button {
  transition: all 0.5s ease-out;
  fill: rgba(255, 255, 255, 0.2);
  &.selected {
    fill: rgba(86, 222, 222, 0.75)
  }
}
.display {opacity: 0; animation: fade-in 1s ease-out forwards 2.5s;}
.description {opacity: 0;animation: fade-in 1s ease-out forwards;}
@keyframes draw-circle {
  from {stroke-dashoffset: 1335;}
  to {stroke-dashoffset: 2670;}
}
@keyframes fade-in {
  to {opacity: 1;}
}