@import "../../../styles/utils.scss";

.line-svg {
  @include desktop { height: 10rem; }
  @include mobile { height: 5rem; }
}
.line {
  fill:none;
  stroke-miterlimit:10;
  stroke-width:3px;
  stroke:url(#line-down-gradient);
  stroke-dasharray: 167;
  stroke-dashoffset: 167;
  animation: draw-line 2s linear forwards 1s;
}
.line-delay {
  fill:none;
  stroke-miterlimit:10;
  stroke-width:2px;
  stroke:url(#line-down-gradient);
  stroke-dasharray: 167;
  stroke-dashoffset: 167;
  animation: draw-line 2s linear forwards 7s;
}
@keyframes draw-line { 
  from {stroke-dashoffset: 167;}
  to {stroke-dashoffset: 0;}
}