@import "../../../styles/utils.scss";

@mixin text {fill: $c_white;text-anchor: middle;}
.country {@include text;font-size: 13px;}
.percentage {@include text;font-size: 50px;font-weight: bold;}
.isolate {isolation:isolate;}
.shadows {opacity:0.4;mix-blend-mode:multiply;}
.circle {fill:url(#manufacturing-carousel-gradient);}
.carousel {
  .slick-slide.slick-active.slick-center{
    transition: transform 0.5s ease-out;
    @include desktop {transform: scale(1.5);}
    @include mobile {transform: scale(1)}
  }
  .slick-slide.slick-active{
    transition: transform 0.5s ease-out;
    transform: scale(1);
  }
  .slick-slide{
    transition: transform 0.5s ease-out;
    transform: scale(0);
    @include desktop {padding: 5rem 0rem;}
    @include mobile {padding: 0rem 0rem;}
  }
}