.blue-fill{fill:#1e2f98;}
.white-fill{fill:#f2f2f2;}
.west-name{font-size: 15px;}
.asia-name{font-size: 10px;}
.west-number{font-size: 40px;}
.asia-number{font-size: 21px;}
.hidden {opacity: 0; visibility: hidden; transform: translateY(-50%);}
.dot {animation: drop-bubble 1s ease forwards;}
.usa {animation: drop-bubble 1s ease forwards 0.5s;}
.deu {animation: drop-bubble 1s ease forwards 1.0s;}
.chn {animation: drop-bubble 1s ease forwards 1.5s;}
.sea {animation: drop-bubble 1s ease forwards 2.0s;}
@keyframes drop-bubble {
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}