@import "../../../styles/utils.scss";
.svg {width: 100%;}
.isolate {isolation:isolate;}
.shadows {opacity:0.3;mix-blend-mode:multiply;}
@mixin lines ($gradient-url) {
  fill: none; 
  stroke-miterlimit: 10; 
  stroke-width: 3px; 
  stroke: url($gradient-url);
}
.circle-1{@include lines('#solutions-stack-gradient');}
.circle-2{@include lines('#solutions-stack-gradient-2');}
.circle-3{@include lines('#solutions-stack-gradient-3');}
.line-1{@include lines('#solutions-stack-gradient-4');}
.line-2{@include lines('#solutions-stack-gradient-5');}
.h {fill: $c_dark_blue; font-size: 1.5rem; text-anchor: middle;}
.p {fill: $c_dark_blue; font-size: 0.75rem;}
.align-right {text-anchor: end;}